<!--<footer class="footer">-->
    <!--<p>Навчальний проект НІТ-2017. Кураченко Олег, ІПЗ-2016(Б2).</p>-->
    <!--<p>Доставка піци не здійснюється.</p>-->
<!--</footer>-->

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

<!--<script type="text/javascript" src="assets/js/<%= jsFileName %>.js"></script>-->
</body>
</html>