<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->

    <% cssArray.forEach(function (stylesheet) { %>
    <link rel="stylesheet" type="text/css" href="less/<%= stylesheet %>.css"/>
    <% console.log("Trying to load " + stylesheet) %>
    <% }); %>
</head>
<body>
