<%- include('common/header', {cssArray: ['mainPage'], pageTitle: 'MainPage'}) %>

<div class="navPanel">
    <p class="heading">Intra</p>
    <div class="searchPanel">
        <input class="searchField" type="text" placeholder="Search...">
    </div>
    <div class="row">
        <p class="navPanelItem">Messenger</p>
        <div class="notificationCol">
            <div class="notificationCount notificationOne">15</div>
            <div class="notificationCount notificationTwo">3</div>
            <div class="notificationCount notificationThree" >23</div>
        </div>
    </div>
    <div class="row">
        <p class="navPanelItem">Plans</p>
        <div class="notificationCol">
            <div class="notificationCount notificationOne">1</div>
            <div class="notificationCount notificationTwo">2</div>
            <div class="notificationCount notificationThree">51</div>
        </div>
    </div>
    <div class="row">
        <p class="navPanelItem">Documents</p>
        <div class="notificationCol">
            <div class="notificationCount notificationOne">133</div>
            <div class="notificationCount notificationTwo">13</div>
            <div class="notificationCount notificationThree">1</div>
        </div>
    </div>
</div>

<%- include('common/footer', {jsFileName: "mainPage"}) %>