//
//  Created by Oleh Kurachenko
//         aka okurache
//  on 2018-03-24T12:44:28Z as a part of intra_mockup
//  
//  ask me      oleh.kurachenko@gmail.com , I'm ready to help
//  GitHub      https://github.com/OlehKurachenko
//  rate & CV   http://www.linkedin.com/in/oleh-kurachenko-6b025b111
//

body{
  font-family: Verdana,Geneva,sans-serif;;
}

.navPanel {
  width: 300px;
  height: 100%;
  background-color: cadetblue;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  box-shadow: 3px 0 10px 2px rgba(0,0,0,0.5);
}

.heading {
  font-size: 40pt;
  padding-left: 13%;
  font-weight: bold;
}

.row {
  background-color: cadetblue;
  padding: 0.1%;
  padding-left: 15%;
  font-size: 18pt;
  margin-bottom: 0.1%;
  position: relative;
}

.row:hover {
  background-color: #467b7d;
}

.searchField {
  border: none;
  background-color: #467b7d;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20%;
  width: 80%;
  height: 100%;
  color: white;
  font-size: 18pt;
}

.searchField::placeholder {
  color: white;
}

.searchPanel {
  height: 60px;
  margin-bottom: 5%;
}

.notificationCol {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  padding: 6%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.notificationCount {
  font-size: small;
  text-align: left;
  position: relative;
}

.notificationCount::after {
  content: "";
  background-color: #4a9a52;
  position: absolute;
  right: -6px;
  top: 3px;
  border-radius: 50%;
  border: solid white 0.5px;
  width: 9px;
  height: 9px;
}

.notificationOne::after {
  background-color: #ff524a;
}

.notificationTwo::after {
  background-color: #79b5d1;
}

.notificationThree::after {
  background-color: #4a9a52;
}